@import "../variables/radius.scss";
@import "../variables/spacing.scss";
@import "../variables/colors.scss";

// input configration
$dga-input-bg-color: #fff;
$dga-input-height: 40px;
$dga-input-width: 100%;
$dga-input-border-radius: $dga-spacing-sm;

// input css
input.dga-input {
  border: 0;
  outline: none;
  appearance: none;
  background-color: transparent;
  font: inherit;
  width: $dga-input-width;
  height: $dga-input-height;
  padding-inline: $dga-spacing-xl;
  border-radius: $dga-input-border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: $dga-gray-400;
  background-color: $dga-input-bg-color;
  // bottom line
  background-image: linear-gradient(black, black);
  background-size: 0% 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;

  &:hover {
    border-color: black;
  }

  &:focus {
    background-size: 100% 2px;
    border-color: $dga-gray-800;
    box-shadow: $dga-shadow-md;
  }
  &:active {
    background-size: 35% 2px;
    background-color: $dga-gray-100;
  }
}

// // input with error
input.dga-input.dga-input-error {
  border-color: $dga-error-500;
  background-image: linear-gradient($dga-error-500, $dga-error-500);
  &:active {
    border-color: $dga-gray-400;
    background-color: $dga-gray-100;
  }
}
