@import "../variables/radius.scss";
@import "../variables/spacing.scss";
@import "../variables/colors.scss";

// label configration
$dga-label-bg-color: #fff;
$dga-label-width: 100%;

// label css
label.dga-label {
  display: block;
  color: $dga-text-primary;
  margin-bottom: $dga-spacing-sm !important;
}
