@import "../variables/colors";

$dga-navbar-height: 72px;

.dga-navbar {
  background-color: white;
  height: $dga-navbar-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  // position: relative;
  .dga-navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    img {
      height: calc($dga-navbar-height - 8px);
      width: auto;
    }
  }
}
.dga-menu {
  list-style: none;
  height: $dga-navbar-height;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  li {
    .dga-dropdown {
      padding: 1rem;
      list-style: none;
      position: absolute;
      top: $dga-navbar-height;
      left: 0;
      width: 100%;
      background-color: white;
      ul {
        list-style: none;
        li.dga-dropdwon-title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 8px;
          color: $dga-sa-600;
        }
      }
    }
  }
}

.dga-menu-item {
  height: $dga-navbar-height;
  padding-block: 16px;
  padding-inline: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #161616;
  background-color: white;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: bold;

  // bottom border
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 16px);
    height: 6px;
    background-color: transparent;
    border-radius: 6px;
  }

  &.dga-has-dropdown {
    padding-left: 20px + 4px + 8px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5031 7.1294C5.60467 7.26388 5.90793 7.66534 6.08853 7.89676C6.45026 8.36027 6.94452 8.97618 7.47769 9.59026C8.01356 10.2074 8.57648 10.8085 9.07658 11.2504C9.32734 11.472 9.54762 11.6403 9.72939 11.7499C9.90035 11.853 10.0013 11.8744 10.0013 11.8744C10.0013 11.8744 10.0994 11.853 10.2703 11.7499C10.4521 11.6403 10.6724 11.472 10.9231 11.2504C11.4232 10.8085 11.9861 10.2074 12.522 9.59025C13.0552 8.97616 13.5494 8.36025 13.9112 7.89673C14.0918 7.66531 14.3946 7.26442 14.4962 7.12994C14.7009 6.852 15.0925 6.79206 15.3705 6.99675C15.6484 7.20145 15.7078 7.59269 15.5031 7.87063L15.5015 7.87273C15.395 8.01376 15.0809 8.42963 14.8966 8.66577C14.5267 9.13975 14.018 9.77384 13.4659 10.4098C12.9165 11.0426 12.3117 11.6915 11.7508 12.1871C11.471 12.4343 11.1875 12.6566 10.9157 12.8204C10.661 12.9739 10.3386 13.125 9.99985 13.125C9.66109 13.125 9.33868 12.9739 9.08404 12.8204C8.81223 12.6566 8.52866 12.4343 8.24891 12.1871C7.68798 11.6915 7.08325 11.0426 6.53382 10.4098C5.98169 9.77386 5.473 9.13978 5.1031 8.6658C4.91871 8.42953 4.60464 8.01371 4.4983 7.87292L4.4969 7.87107C4.2922 7.59313 4.35128 7.20149 4.62922 6.99679C4.90714 6.7921 5.2984 6.85149 5.5031 7.1294Z' fill='%23161616'/%3E%3C/svg%3E%0A");
    }
  }

  &.dga-menu-item-with-icon {
    padding-right: 20px + 4px + 8px; // icon width + gap + padding = 32px
    position: relative;

    .dga-menu-icon {
      position: absolute;
      top: 50%;
      right: 8px; // Position on the right
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover {
    background-color: $dga-gray-100;
    &::before {
      background-color: $dga-gray-400;
    }
  }
  &:focus-visible {
    border: 2px solid black;
  }
  &:active {
    background-color: $dga-gray-200;
    &::before {
      background-color: $dga-gray-800;
    }
  }
}

li.active .dga-has-dropdown::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5031 7.1294C5.60467 7.26388 5.90793 7.66534 6.08853 7.89676C6.45026 8.36027 6.94452 8.97618 7.47769 9.59026C8.01356 10.2074 8.57648 10.8085 9.07658 11.2504C9.32734 11.472 9.54762 11.6403 9.72939 11.7499C9.90035 11.853 10.0013 11.8744 10.0013 11.8744C10.0013 11.8744 10.0994 11.853 10.2703 11.7499C10.4521 11.6403 10.6724 11.472 10.9231 11.2504C11.4232 10.8085 11.9861 10.2074 12.522 9.59025C13.0552 8.97616 13.5494 8.36025 13.9112 7.89673C14.0918 7.66531 14.3946 7.26442 14.4962 7.12994C14.7009 6.852 15.0925 6.79206 15.3705 6.99675C15.6484 7.20145 15.7078 7.59269 15.5031 7.87063L15.5015 7.87273C15.395 8.01376 15.0809 8.42963 14.8966 8.66577C14.5267 9.13975 14.018 9.77384 13.4659 10.4098C12.9165 11.0426 12.3117 11.6915 11.7508 12.1871C11.471 12.4343 11.1875 12.6566 10.9157 12.8204C10.661 12.9739 10.3386 13.125 9.99985 13.125C9.66109 13.125 9.33868 12.9739 9.08404 12.8204C8.81223 12.6566 8.52866 12.4343 8.24891 12.1871C7.68798 11.6915 7.08325 11.0426 6.53382 10.4098C5.98169 9.77386 5.473 9.13978 5.1031 8.6658C4.91871 8.42953 4.60464 8.01371 4.4983 7.87292L4.4969 7.87107C4.2922 7.59313 4.35128 7.20149 4.62922 6.99679C4.90714 6.7921 5.2984 6.85149 5.5031 7.1294Z' fill='%23ffffff' transform='rotate(180 10 10)'/%3E%3C/svg%3E%0A") !important;
}
.dga-menu-item.dga-menu-item-selected {
  color: white;
  background-color: $dga-sa-600;
  &::before {
    background-color: $dga-sa-400;
  }
  &.dga-has-dropdown {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5031 7.1294C5.60467 7.26388 5.90793 7.66534 6.08853 7.89676C6.45026 8.36027 6.94452 8.97618 7.47769 9.59026C8.01356 10.2074 8.57648 10.8085 9.07658 11.2504C9.32734 11.472 9.54762 11.6403 9.72939 11.7499C9.90035 11.853 10.0013 11.8744 10.0013 11.8744C10.0013 11.8744 10.0994 11.853 10.2703 11.7499C10.4521 11.6403 10.6724 11.472 10.9231 11.2504C11.4232 10.8085 11.9861 10.2074 12.522 9.59025C13.0552 8.97616 13.5494 8.36025 13.9112 7.89673C14.0918 7.66531 14.3946 7.26442 14.4962 7.12994C14.7009 6.852 15.0925 6.79206 15.3705 6.99675C15.6484 7.20145 15.7078 7.59269 15.5031 7.87063L15.5015 7.87273C15.395 8.01376 15.0809 8.42963 14.8966 8.66577C14.5267 9.13975 14.018 9.77384 13.4659 10.4098C12.9165 11.0426 12.3117 11.6915 11.7508 12.1871C11.471 12.4343 11.1875 12.6566 10.9157 12.8204C10.661 12.9739 10.3386 13.125 9.99985 13.125C9.66109 13.125 9.33868 12.9739 9.08404 12.8204C8.81223 12.6566 8.52866 12.4343 8.24891 12.1871C7.68798 11.6915 7.08325 11.0426 6.53382 10.4098C5.98169 9.77386 5.473 9.13978 5.1031 8.6658C4.91871 8.42953 4.60464 8.01371 4.4983 7.87292L4.4969 7.87107C4.2922 7.59313 4.35128 7.20149 4.62922 6.99679C4.90714 6.7921 5.2984 6.85149 5.5031 7.1294Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    }
  }
  &:hover {
    background-color: $dga-sa-700;
  }
  &:focus-visible {
    background-color: $dga-sa-600;
    border: 2px solid black;
  }
  &:active {
    background-color: $dga-sa-900;
  }
}

a.dga-menu-item {
  text-decoration: none;
}

// dropdown
.dga-menu > li:not(active) .dga-dropdown {
  display: none;
}

.dga-menu > li.active {
  > .dga-dropdown {
    padding: 1rem;
    list-style: none;
    display: block;
    position: absolute;
    top: $dga-navbar-height;
    left: 0;
    width: 100%;
    background-color: white;

    .dga-dropdown-content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      > ul {
        width: 25%;
        list-style: none;
        // @media (max-width: 769px) {
        //   width: 100%;
        // }

        li a {
          padding: 8px 16px;
          display: block;
          width: 100%;
          font-size: 14px;
          color: $dga-gray-800;

          &:hover {
            background: #f3f4f6;
            text-decoration: underline;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden !important;
}
.dga-navbar-toggler {
  display: none;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

body.size_tablet,
body.size_mobile {
  .dga-navbar-toggler {
    display: block;
  }
  .dga-navbar {
    justify-content: space-between;
  }

  .dga-menu {
    display: none;
    &.dga-menu-open {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      height: calc(100vh - $dga-navbar-height);
      padding: 8px;

      background-color: $dga-gray-100;
      position: absolute;
      top: $dga-navbar-height;
      left: 0;
      overflow-y: auto;
      gap: 8px;
      z-index: 9999999;

      li.active {
        .dga-dropdown {
          position: static;
        }
      }
    }
    li {
      margin: unset !important;
      .dga-menu-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .dga-dropdown {
      .dga-dropdown-content {
        flex-direction: column;
        ul {
          width: 100%;
        }
      }
    }
  }
}
